<div class="page-header">
  <h3>Cuisine #<%= @cuisine.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Cuisinename</dt>
      <dd><%= @cuisine.cuisinename %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/cuisines" class="btn btn-primary">
        Back
      </a>
      <a href="/cuisines/<%= @cuisine.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_cuisine/<%= @cuisine.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>

<!-- A Cuisine has many dishes -->

<div class="row">
  <div class="col-md-12">
    <ul class="list-group">
      <li class="list-group-item list-group-item-info">
        Dishes
      </li>

      <% @cuisine.dishes.each do |dish| %>
        <li class="list-group-item">
          <a href="/dishes/<%= dish.id %>">
            <%= dish.cuisine_id %>
          </a>
          <div class="btn-group btn-group-xs pull-right">
            <a href="/dishes/<%= dish.id %>" class="btn btn-primary">
              <i class="fa fa-search-plus"></i>
            </a>
            <a href="/dishes/<%= dish.id %>/edit" class="btn btn-warning">
              <i class="fa fa-edit"></i>
            </a>
            <a href="/delete_dish/<%= dish.id %>" class="btn btn-danger" rel="nofollow">
              <i class="fa fa-trash-o"></i>
            </a>
          </div>
        </li>
      <% end %>

      <li class="list-group-item">
        <form action="/create_dish" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for cuisine_id -->
      <input type="hidden" name="cuisine_id" value="<%= @cuisine.id %>">

      <!-- Label and input for meal_id -->
      <div class="form-group">
        <label for="meal_id" class="control-label">
          Meal
        </label>

        <%= select_tag(:meal_id, options_from_collection_for_select(Meal.all, :id, :dish_id), :class => "form-control") %>
      </div>

      <!-- Label and input for dishname -->
      <div class="form-group">
        <label for="dishname" class="control-label">
          Dishname
        </label>

        <input type="text" id="dishname" name="dishname" placeholder="Dishname" class="form-control" value="">
      </div>

      <button class="btn btn-block btn-success">
        Create Dish
      </button>
    </form>
      </li>
    </ul>
  </div>
</div>
